<p>&nbsp;</p>
<p>&nbsp;</p>


<div class="container">
    <div class="row">
        <div class="col sm-6">
            <img width="380" height="500" src={{urlPhoto}} />
        </div>
        <div class="col sm-6">
            <div class="col text-center ">
                <h1 class="display-4"><small>{{nombre}}</small> </h1>
            </div>
            <div class="card text-center">
                <div class="card-header">${{costo}}</div>
                <div class="card-body">
                  <h5 class="card-title">Descripcion</h5>
                  <p class="card-text">
                    {{descripcion}}
                  </p>
                  <h5 class="card-title">Modelo</h5>
                  <p class="card-text">
                    {{modelo}}
                  </p>
                  <h5 class="card-title" >Medidas</h5>
                  <p class="card-text">
                    {{medidas}}
                  </p>
                  <h5 class="card-title">Material</h5>
                  <p class="card-text">
                    {{material}}
                  </p>
                  
  
                </div>
                
              </div>
        </div>
    </div>  
</div>

<h1>
