<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">

            <h3>Olvide mi contraseña</h3>

            <div class="formGroup">
                <input type="email" class="form-control" placeholder="E-Mail"
                    #passwordResetEmail required />
            </div>

            <div class="formGroup">
                <input type="submit" class="btn btn-primary btn-block"
                    value="Reestablecer Contraseña"
                    (click)="authService.forgotPassword(passwordResetEmail.value)" />
            </div>


        </div>
<!--

    ESTO NO SE MUESTRA YA QUE SOLO QUEREMOS QUE SE LOGIE EL ADMIN

    
        <div class="redirectToLogin">
            <span>¿Nuevo Usuario?<span class="redirect" routerLink="/registro">Registrate</span></span>
        </div>
    -->
    </div>
</div>
